@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
html{
    min-height: 100%;
    position: relative;
}
body {
    font-family: "Roboto mono", monospace;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icon {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icon span {
    color: white;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}
main {
    width: 100%;
    height: 1200px;
    display: grid;
    grid-template-rows: 400px 700px;
    margin-bottom: 50px;
}
main .section-noticias-container {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 500px 400px;
    justify-content: center;
    background-color: #e7e9ed;
}
main .section-noticias-container .div-noticias {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-template-rows: 400px 400px;
    padding-left: 50px;
}
main .section-noticias-container .div-noticias p,
.section-blogpost-container .blogpost-title p {
    font-size: 1rem;
    font-weight: 500;
}
main .section-noticias-container .div-noticias img {
    width: 450px;
    height: 300px;
    object-fit: cover;
}
main .section-noticias-container .div-info-container {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 150px 100px;
    align-content: center;
    padding-left: 70px;
}
main .div-info-container .title-info {
    font-size: 1.5rem;
    font-weight: 500;
}
main .div-info-container .text-info {
    margin: 20px 0;
    font-size: 0.8rem;
    font-weight: 300;
}
main .div-info-container .button-info {
    width: 70px;
    height: 35px;
    background-color: #e7e9ed;
    border: 1px solid #47cfac;
    font-size: 0.6rem;
    font-weight: 200;
    margin-top: 14px;
}
main .section-blogpost-container {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-rows: 50px 700px;
    justify-content: center;
    justify-items: center;
}
.section-blogpost-container .blogpost-title {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #e7e9ed;
    text-align: center;
}
main .section-blogpost-container .blogpost-grid {
    width: 780px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-top: 15px;
}
.section-blogpost-container .blogpost-grid .div-blogpost {
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}
.section-blogpost-container .blogpost-grid .div-blogpost img {
    width: 230px;
    height: 150px;
    object-fit: cover;
}
.section-blogpost-container .blogpost-grid .div-blogpost .blogpost-grid-title,
.section-blogpost-container .blogpost-grid .div-blogpost .blogpost-grid-text {
    font-size: 0.8rem;
    font-weight: 300;
}
.section-blogpost-container .blogpost-grid .div-blogpost .blogpost-grid-button {
    width: 70px;
    height: 35px;
    background-color: white;
    border: 1px solid #47cfac;
    font-size: 0.6rem;
    font-weight: 200;
    margin-top: 14px;
}
footer {
    width: 100%;
    height: 90px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.section-footer-uno {
    width: 100%;
    height: 30px;
    background-color:#47cfac;
}
.section-footer-dos {
    width: 100%;
    height: 60px;
    background-color:#3c3c3c;
}
.section-footer-dos p {
    text-align: center;
    color: white;
    font-size: 0.8rem;
    margin: 20px;
}